body {
    display: grid;
    grid-template-areas:
    "header header"
    "nav article"
    "nav footer";
    grid-template-rows: 80px 1fr 37px;
    grid-template-columns: 200px 1fr;
    grid-gap: 5px;
    height: 100vh;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 15px;
}
header, nav, article, footer {
    padding: 10px;
    background: #D9D8D9;
}
#pageHeader {
    grid-area: header;
    padding: 10px;
}
#pageHeaderLeft {
    float: left;
    padding: 0;
}
#pageHeaderRight {
    float: right;
    padding: 0;
}
#pageFooter {
    grid-area: footer;
    padding: 10px;
}
#pageNav {
    grid-area: nav;
    padding: 0;
}
#pageHosts {
    grid-area: article;
    padding: 0;
}
#mainTable {
    width: 100%;
    border: 0;
    border-spacing: 1px;
    line-height: 18px;
}
#mainTableHeader {
    text-align: center;
    font-weight: bold;
    border: 0;
    background-color: #56A8FF;
}
#mainTableHeaderAdd {
    width: 20px;
}
#mainTableHeaderHost {
    text-align: left;
    padding-left: 3px;
}
#mainTableHeaderStatus {
    width: 100px;
}
#mainTableHeaderReply {
    width: 70px;
}
#mainTableHeaderLTT {
    width: 160px;
}
#mainTableHeaderLS {
    width: 100px;
}
#mainTableHeaderCom {
    text-align: left;
    width: 300px;
    padding-left: 3px;
}
#mainTableHeaderSC {
    width: 160px;
}
#mainTableRow {
    text-align: center;
    border: 0;
    margin: 10px;
    background-color: rgba(0, 204, 0, 0.27);
}
#mainTableRowBad {
    text-align: center;
    border: 0;
    background-color: rgba(242, 30, 30, 0.75);
}
#mainTableRowDisabled {
    text-align: center;
    border: 0;
    background-color: #999999;
}
#mainTableDataHost {
    text-align: left;
    padding-left: 3px;
}
#mainTableComment {
    text-align: left;
    padding-left: 3px;
}
#mainTableSeparator {
    text-align: left;
    padding-left: 3px;
    background-color: #56A8FF;
}
#folderHeader {
    text-align: left;
    font-weight: bold;
    border: 0;
    margin: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 1px;
    background-color: #56A8FF;
}
#folderList {
    text-align: left;
    border: 0;
    margin: 1px;
    padding: 1px;
}
#folderItem {
    text-align: left;
    vertical-align: middle;
    padding: 1px;
}
#folderItemChecked {
    text-align: left;
    vertical-align: middle;
    padding: 1px;
    font-weight: bold;
}
#formEdit {
    margin: auto;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    text-align: center;
}
img {
    vertical-align: middle;
}

